.card__wrapper {
  margin-top: 20px;
}
.card__wrapper > button {
  width: 100%;
  margin-top: 5px;
}
.card__card {
  margin-right: 5px;
  padding: 15px;
  height: 150px;
  box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.353);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1565711561500-49678a10a63f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: 8px;
}

.card__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.card__amount,
.card__date {
  pointer-events: none;
}
.card__type {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
}

.card__scheme {
  width: 40px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__scheme > object {
  width: 100%;
}

.card__number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__copy {
  position: relative;
}
.card__copy > span {
  position: absolute;
  bottom: -20px;
  right: 0px;
  font-size: 14px;
}

.card__copy_btn {
  border: none;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px;
  border-radius: 8px;
  height: 100%;
  background-color: rgb(118, 118, 250);
  color: white;
  transform: scale(1);
  transition: all 0.1s ease-in;
}
.card__copy_btn:hover {
  transition: all 0.1s ease-in;

  transform: scale(1.1);
  box-shadow: 0px 0px 3px white;
}

.card__number_show {
  cursor: pointer;
}
