.cash__wrapper {
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 10px;
}
.cash__balance {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
