.edit__modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(137, 137, 137, 0.093);
  z-index: 1;
}
.edit__content {
  padding: 20px;
  border-radius: 8px;
  background-color: #80bb86;
  width: 60vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.edit__amount {
  max-width: 350px;
  width: 100%;
}

.edit__save {
  background-color: rgb(9, 185, 9);
  padding: 10px 20px;
  font-size: 18px;
  line-height: 21px;
  transform: scale(1);
  transition: all 0.2s linear;
}

.edit__save:hover {
  box-shadow: inset 0px 0px 4px rgb(0, 98, 37);
  transform: scale(1.1);
  transition: all 0.2s linear;
}

.edit__btnGroup {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
