.card__item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  align-items: center;
  padding: 5px;
  margin: 2px 0px;
}
.card__item > span {
  margin-right: 5px;
}
.card__item > span:first-child {
  margin-right: 15px;
}
