.wallet__main {
  padding: 60px 0;
}
.wallet__info {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .wallet__main {
    padding: 20px 0;
  }
  .wallet__info {
    flex-direction: column-reverse;
    align-items: center;
  }
}
